.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.integrations-section {
  padding: 3rem 1rem 9rem;
  max-width: 1300px;
  margin: 0 auto;
}

.integrations-card {
  background: #FAFAFA;
  border-radius: 12px;
  border: 1px solid #EAECF5;
  display: flex;
  height: 610px;
  overflow: hidden;
  position: relative;
  padding: 40px 40px 40px 0px;
}

.integrations-mobile-header {
  display: none;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #d9daee;
  padding: 32px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: sticky;
  top: 0;
  z-index: 15;
  cursor: pointer;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.arrow-down {
    width: 10px;
    height: 10px;
}

.integrations-sidebar {
  width: 220px;
  border-right: 1px solid #EAECF5;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 5;
}

.sidebar-item {
  display: block;
  width: 100%;
  padding: 12px 22px;
  font-size: 16px;
  color: #535862;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
  text-align: right;
  font-weight: 500;
  border-right: 2px solid transparent;
}

.sidebar-item:hover {
  color: #414651;
  border-right: 2px solid #D5D9EB;
}

.sidebar-item.active {
  border-right: 2px solid #6938EF;
  font-weight: 600;
  color: #6938EF;
}

.integrations-grid {
  flex: 1;
  padding: 20px 32px;
  overflow-y: auto;
  display: grid;
  gap: 20px;
  align-content: flex-start;
}

.integrations-grid.desktop {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.integrations-grid.mobile {
  display: none;
}

.integration-card {
  max-height: 110px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: white;
  box-shadow: 0px 4px 12px -1px #0A0D1214;
  border-radius: 12px;
  padding: 12px 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.integration-card span {
  color: #181D27;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

a.integration-card span:hover {
  text-decoration: none;
}

a.integration-card:hover {
  box-shadow:
    0px 3px 3px -1.5px #0A0D120A,
    0px 8px 8px -4px #0A0D1208,
    0px 20px 24px -4px #0A0D1214;
  padding: 16px 24px;
  margin: -4px;
  text-decoration: none;
  transform: translateY(-2px);
}

.integration-card img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  flex-shrink: 0;
}

.load-more {
  grid-column: span 2;
  padding: 24px;
  font-size: 20px;
  background: #ffffff;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .integrations-card {
    flex-direction: column;
    height: auto;
    padding: 0px;
    overflow: auto;
  }

  .integrations-mobile-header {
    display: flex;
  }

  .integrations-sidebar {
    display: none;
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    border-right: none;
    border-bottom: 1px solid #d9daee;
    background: #ffffff;
    overflow-y: scroll;
    z-index: 20;
  }

  .integrations-sidebar.open {
    display: block;
  }

  .sidebar-item {
    text-align: center;
  }

  .sidebar-item.active {
    border-right: none;
  }

  .integrations-grid.desktop {
    display: none;
  }

  .integrations-grid.mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 24px;
  }
}
