.container {
  margin: 48px 0px !important;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.Heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--default-border-color);
}

.ConnectorName {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0px;
}

.PlatformDetails {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--gray-text-color);
}

.PlatformIcon {
  padding: 4px;
  background-color: var(--connector-icon-bg-color);
  border: 1px solid var(--default-border-color);
  border-radius: 12px;
}

.ImageContainer {
  background-color: var(--connector-icon-bg-color);
  padding: 12px;
  border: 1px solid var(--default-border-color);
  border-radius: 28px;
}

.IconContainer {
  background-color: #F8F9FC;
  padding: 16px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.ConnectorIcon {
  width: 32px !important;
  height: 32px !important;
  object-fit: contain;
  display: block;
  margin: 0;
}

.FeaturesHeading {
  font-size: 14px;
  color: var(--gray-text-color);
}

.SubHeading {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.FeaturesList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.FeatureTag {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 14px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
}

.AvailableFeature {
  color: var(--green-tag-color);
  border: 1px solid var(--green-tag-color);
  background-color: var(--green-tag-bg-color);
}

.UnavailableFeature {
  color: var(--orange-tag-color);
  border: 1px solid var(--orange-tag-color);
  background-color: var(--orange-tag-bg-color);
}

.StageBadge {
  font-size: 10px;
  height: auto;
  color: var(--green-tag-color);
}
